Repository aws-samples/retail-demo-store, pull requests merged in 2022-04, with the labels that each got.

#342 removed markupsafe pinned and added Jinja2
  src/location/src/location-service/requirements.txt
  src/offers/src/offers-service/requirements.txt
  src/recommendations/src/recommendations-service/requirements.txt
  src/search/src/search-service/requirements.txt
  src/videos/src/videos-service/requirements.txt
Labels: bug

#347 Update alpha parameter type
  workshop/3-Experimentation/src/plot.py
Labels: bug, workshop

#353 Evidently server side integration and workshop
  README.md
  aws/cloudformation-templates/base/_template.yaml
  aws/cloudformation-templates/base/evidently.yaml
  aws/cloudformation-templates/base/notebook.yaml
  aws/cloudformation-templates/services/_template.yaml
  aws/cloudformation-templates/services/service/_template.yaml
  aws/cloudformation-templates/services/service/service.yaml
  aws/cloudformation-templates/template.yaml
  buildspec.yml
  src/.env.template
  src/README.md
  src/docker-compose.yml
  src/recommendations/openapi/spec.yaml
  src/recommendations/src/recommendations-service/app.py
  src/recommendations/src/recommendations-service/experimentation/evidently_feature_resolver.py
  src/recommendations/src/recommendations-service/experimentation/experiment.py
  src/recommendations/src/recommendations-service/experimentation/experiment_ab.py
  src/recommendations/src/recommendations-service/experimentation/experiment_evidently.py
  src/recommendations/src/recommendations-service/experimentation/experiment_interleaving.py
  src/recommendations/src/recommendations-service/experimentation/experiment_mab.py
  src/recommendations/src/recommendations-service/experimentation/experiment_manager.py
  src/recommendations/src/recommendations-service/experimentation/experiment_optimizely.py
  src/recommendations/src/recommendations-service/experimentation/features.py
  src/recommendations/src/recommendations-service/experimentation/resolvers.py
  src/recommendations/src/recommendations-service/experimentation/test_experiment.py
  src/recommendations/src/recommendations-service/experimentation/test_resolvers.py
  src/recommendations/src/recommendations-service/experimentation/tracking.py
  src/recommendations/src/recommendations-service/run_tests.py
  src/web-ui/gen_env.sh
  src/web-ui/src/components/Product/Product.vue
  src/web-ui/src/public/Live.vue
  src/web-ui/src/public/Main.vue
  stage.sh
  workshop/3-Experimentation/3.1-Overview.ipynb
  workshop/3-Experimentation/3.2-AB-Experiment.ipynb
  workshop/3-Experimentation/3.3-Interleaving-Experiment.ipynb
  workshop/3-Experimentation/3.4-Multi-Armed-Bandit-Experiment.ipynb
  workshop/3-Experimentation/3.7-CloudWatch-Evidently-AB-Experiment.ipynb
  workshop/3-Experimentation/images/evidently/evidently_features.png
  workshop/3-Experimentation/images/evidently/evidently_project.png
  workshop/3-Experimentation/images/evidently/evidently_results_avg_value.png
  workshop/3-Experimentation/images/evidently/evidently_results_event_counts.png
  workshop/3-Experimentation/images/evidently/rds_active_evidently_experiment.png
  workshop/3-Experimentation/images/evidently/rds_evidently_architecture.png
  workshop/3-Experimentation/images/evidently/rds_switch_shoppers.png
  workshop/3-Experimentation/images/experimentation-class-diagram.png
Labels: enhancement, workshop
